
@import "tailwindcss";
@import "tw-animate-css";

/* body {
  font-family: 'Geist Sans', sans-serif !important;
} */

body { font-family: 'Inter', sans-serif !important; }
h1, h2, h3, .btn { font-family: 'Playfair Display', serif !important; }

.our-logo {
  font-family: 'Playfair Display', serif !important;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.05em;
}

.button {
  cursor: pointer !important;
}

button {
  cursor: pointer !important;
}

